<div itemscope itemtype="http://schema.org/Person">

{% if author.about %}<a href="{{ author.about.link }}" title="{{ author.about.title }}">{% endif %}
  <img itemprop="image" src="{% include link.html url=author.avatar prepend='/images/author/' %}" class="bio-photo" alt="{{ author.name }} bio photo">
{% if author.about %}</a>{% endif %}

  <h3 itemprop="name">{{ author.name }}</h3>
  <div itemprop="description">{{ author.bio | markdownify }}</div>
  {% if author.wikipedia %}<a href="https://en.wikipedia.org/wiki/{{ author.wikipedia }}" class="author-social" target="_blank"><i class="fa fa-fw fa-wikipedia-w"></i><span> Wikipedia</span></a>{% endif %}
  {% if author.email %}<a href="mailto:{{ author.email }}" class="author-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i><span> Email</span></a>{% endif %}
  {% if author.twitter %}<a href="http://twitter.com/{{ author.twitter }}" class="author-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i><span> Twitter</span></a>{% endif %}
  {% if author.facebook %}<a href="http://facebook.com/{{ author.facebook }}" class="author-social" target="_blank"><i class="fa fa-fw fa-facebook-square"></i><span> Facebook</span></a>{% endif %}
  {% if author.google.plus %}<a href="http://plus.google.com/{{ author.google.plus }}" class="author-social" target="_blank"><i class="fa fa-fw fa-google-plus-square"></i><span> Google+</span></a>{% endif %}
  {% if author.linkedin %}<a href="http://linkedin.com/{{ author.linkedin }}" class="author-social" target="_blank"><i class="fa fa-fw fa-linkedin-square"></i><span> LinkedIn</span></a>{% endif %}
  {% if author.xing %}<a href="http://www.xing.com/profile/{{ author.xing }}" class="author-social" target="_blank"><i class="fa fa-fw fa-xing-square"></i><span> XING</span></a>{% endif %}
  {% if author.instagram %}<a href="http://instagram.com/{{ author.instagram }}" class="author-social" target="_blank"><i class="fa fa-fw fa-instagram"></i><span> Instagram</span></a>{% endif %}
  {% if author.tumblr %}<a href="http://{{ author.tumblr }}.tumblr.com" class="author-social" target="_blank"><i class="fa fa-fw fa-tumblr-square"></i><span> Tumblr</span></a>{% endif %}
  {% if author.github %}<a href="http://github.com/{{ author.github }}" class="author-social" target="_blank"><i class="fa fa-fw fa-github"></i><span> Github</span></a>{% endif %}
  {% if author.bitbucket %}<a href="https://bitbucket.org/{{ author.bitbucket }}" class="author-social" target="_blank"><i class="fa fa-fw fa-bitbucket-square"></i><span> Bitbucket</span></a>{% endif %}
  {% if author.sourceforge %}<a href="http://sourceforge.net/u/{{ author.sourceforge }}" class="author-social" target="_blank"><i class="fa fa-fw fa-code"></i><span> Sourceforge</span></a>{% endif %}
  {% if author.stackoverflow %}<a href="http://stackoverflow.com/users/{{ author.stackoverflow }}" class="author-social" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i><span> Stackoverflow</span></a>{% endif %}
  {% if author.lastfm %}<a href="http://lastfm.com/user/{{ author.lastfm }}" class="author-social" target="_blank"><i class="fa fa-fw fa-music"></i><span> Last.fm</span></a>{% endif %}
  {% if author.dribbble %}<a href="http://dribbble.com/{{ author.dribbble }}" class="author-social" target="_blank"><i class="fa fa-fw fa-dribbble"></i><span> Dribbble</span></a>{% endif %}
  {% if author.pinterest %}<a href="http://www.pinterest.com/{{ author.pinterest }}" class="author-social" target="_blank"><i class="fa fa-fw fa-pinterest"></i><span> Pinterest</span></a>{% endif %}
  {% if author.foursquare %}<a href="http://foursquare.com/{{ author.foursquare }}" class="author-social" target="_blank"><i class="fa fa-fw fa-foursquare"></i><span> Foursquare</span></a>{% endif %}
  {% if author.steam %}<a href="http://steamcommunity.com/id/{{ author.steam }}" class="author-social" target="_blank"><i class="fa fa-fw fa-steam-square"></i><span> Steam</span></a>{% endif %}
  {% if author.youtube %}<a href="https://youtube.com/user/{{ author.youtube }}" class="author-social" target="_blank"><i class="fa fa-fw fa-youtube-square"></i><span> Youtube</span></a>{% endif %}
  {% if author.soundcloud %}<a href="http://soundcloud.com/{{ author.soundcloud }}" class="author-social" target="_blank"><i class="fa fa-fw fa-soundcloud"></i><span> Soundcloud</span></a>{% endif %}
  {% if author.weibo %}<a href="http://www.weibo.com/{{ author.weibo }}" class="author-social" target="_blank"><i class="fa fa-fw fa-weibo"></i><span> Weibo</span></a>{% endif %}
  {% if author.flickr %}<a href="http://www.flickr.com/{{ author.flickr }}" class="author-social" target="_blank"><i class="fa fa-fw fa-flickr"></i><span> Flickr</span></a>{% endif %}
  {% if author.codepen %}<a href="http://codepen.io/{{ author.codepen }}" class="author-social" target="_blank"><i class="fa fa-fw fa-codepen"></i><span> CodePen</span></a>{% endif %}
  {% if author.home %}<a href="{{ author.home }}" class="author-social" target="_blank"><i class="fa fa-fw fa-home"></i><span> Homepage</span></a>{% endif %}
</div>
