<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

{% include theme/minimal-mistakes/_open-graph.html %}

{% if site.owner.google.verify %}<!-- Webmaster Tools verfication -->
<meta name="google-site-verification" content="{{ site.owner.google.verify }}">{% endif %}
{% if site.owner.bing-verify %}<meta name="msvalidate.01" content="{{ site.owner.bing-verify }}">{% endif %}

<link rel="canonical" href="{{ page.url | replace: 'index.html', ''           | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" href="{{ '/feed/blog.xml'    | prepend: site.baseurl | prepend: site.url }}" title="{{ site.title }} - Blog Posts"/>
<link rel="alternate" type="application/rss+xml" href="{{ '/feed/coding.xml'  | prepend: site.baseurl | prepend: site.url }}" title="{{ site.title }} - Programming Posts"/>
<link rel="alternate" type="application/rss+xml" href="{{ '/feed/quotes.xml'  | prepend: site.baseurl | prepend: site.url }}" title="{{ site.title }} - Programming Quotes"/>
<link rel="alternate" type="application/rss+xml" href="{{ '/feed/archive.xml' | prepend: site.baseurl | prepend: site.url }}" title="{{ site.title }} - Archive"/>

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/minimal-mistakes/css/main.css' | prepend: site.baseurl }}">

<meta http-equiv="cleartype" content="on">

<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
<script src="{{ '/assets/minimal-mistakes/js/vendor/html5shiv.min.js'              | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/minimal-mistakes/js/vendor/respond.min.js'                | prepend: site.baseurl }}"></script>
<![endif]-->

<!-- Modernizr -->
<script src="{{ '/assets/minimal-mistakes/js/vendor/modernizr-2.7.1.custom.min.js' | prepend: site.baseurl }}"></script>

<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{                                '/favicon.ico'                                             | prepend: site.baseurl }}" type="image/x-icon">
<!-- 32x32 -->
<link rel="shortcut icon" sizes="32x32" href="{{                  '/images/favicon/favicon-32x32.png'                        | prepend: site.baseurl }}" type="image/png">
<!-- 192x192 for Android Chrome -->
<link rel="icon" sizes="192x192" href="{{                         '/images/favicon/android-chrome-192x192.png'               | prepend: site.baseurl }}" type="image/png">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{   '/images/favicon/apple-touch-icon-precomposed.png'         | prepend: site.baseurl }}" type="image/png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{   '/images/favicon/apple-touch-icon-72x72-precomposed.png'   | prepend: site.baseurl }}" type="image/png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/images/favicon/apple-touch-icon-114x114-precomposed.png' | prepend: site.baseurl }}" type="image/png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/images/favicon/apple-touch-icon-144x144-precomposed.png' | prepend: site.baseurl }}" type="image/png">
<!-- 180x180 Apple Touch icon (for iPhone 6 Plus; other device will scale it down as needed) -->
<link rel="apple-touch-icon" sizes="180x180" href="{{             '/images/favicon/apple-touch-icon-180x180-precomposed.png' | prepend: site.baseurl }}" type="image/png">

{% for style in page.styles %}
<link href='{% include link.html url=style %}' rel='stylesheet' type='text/css'>
{% endfor %}
