<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a>
	</div>
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    <li><a href="{% include link.html url=link.url %}" {% if link.target %}target="{{ link.target }}"{% endif %}>{% include theme/minimal-mistakes/icon.html id=link.icon %} {{ link.title }}</a></li>
				{% endfor %}
		    </ul>
		</nav>
	</div>
</div>