---
layout: theme/minimal-mistakes/default
---

<article class="{{ page.layout_css_class }}">

{% if page.headline != false %}
  <div class="headline-wrap">
    <h1>
  {% if page.link %}
      <a href="{{ page.link }}">
  {% else %}
      <a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">
  {% endif %}
        {% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}
      </a>
    </h1>
  </div>
{% endif %}

{% if page.badge %}
  <div class="badge"><i class="fa fa-{{ page.badge }}"></i></div>
{% endif %}

  <div class="article-wrap">

    {{ content }}

    {% if page.quote %}{% include theme/minimal-mistakes/quote-info.html quote_info=page.quote %}{% endif %}

  </div>

{% if page.history or page.taglist or page.share %}
  <hr />
  <footer role="contentinfo">
    {% if page.history %}{% include theme/minimal-mistakes/_history.html %}{% endif %}
    {% if page.taglist and page.tags %}{% include theme/minimal-mistakes/_tagged-as.html %}{% endif %}
    {% if page.share %}{% include theme/minimal-mistakes/_social-share.html %}{% endif %}
  </footer>
{% endif %}

{% if page.comments and site.owner.disqus-shortname %}
  <section id="disqus_thread"></section>
{% endif %}

  </article>
