---
layout: compress

feeds:
  - title: Simius Ex Machina - Programming Posts
    href: /feed/coding.xml
    type: application/rss+xml
    rel: alternate
  - title: Simius Ex Machina - Programming Quotes
    href: /feed/quotes.xml
    type: application/rss+xml
    rel: alternate
  - title: Simius Ex Machina - Blog Posts
    href: /feed/blog.xml
    type: application/rss+xml
    rel: alternate
  - title: Simius Ex Machina - Archive
    href: /feed/archive.xml
    type: application/rss+xml
    rel: alternate

favicons:
  - # 16x16
    rel: shortcut icon
    href: /favicon.ico
    type: image/x-icon
  - # 32x32
    rel: shortcut icon
    sizes: 32x32
    href: /images/favicon/favicon-32x32.png
    type: image/png
  - # Android Chrome
    rel: icon
    href: /images/favicon/android-chrome-192x192.png
    sizes: 192x192
    type: image/png
  - # iPhone 3GS, pre-2011 iPod Touch and older Android devices (precomposed)
    rel: apple-touch-icon-precomposed
    href: /images/favicon/apple-touch-icon-precomposed.png
    sizes: 57x57
    type: image/png
  - # 1st generation iPad, iPad 2 and iPad mini (precomposed)
    rel: apple-touch-icon-precomposed
    href: /images/favicon/apple-touch-icon-72x72-precomposed.png
    sizes: 72x72
    type: image/png
  - # iPhone 4, 4S, 5 and post-2011 iPod Touch (precomposed)
    rel: apple-touch-icon-precomposed
    href: /images/favicon/apple-touch-icon-114x114-precomposed.png
    sizes: 114x114
    type: image/png
  - # iPad 3rd and 4th generation (precomposed)
    rel: apple-touch-icon-precomposed
    href: /images/favicon/apple-touch-icon-144x144-precomposed.png
    sizes: 144x144
    type: image/png
  - # 180x180 Apple Touch icon (for iPhone 6 Plus; other device will scale it down as needed)
    rel: apple-touch-icon
    href: /images/favicon/apple-touch-icon-180x180-precomposed.png
    sizes: 180x180
    type: image/png
---
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% if page.redirects_404 %}
<script type="text/javascript">
{% for redirect_404 in page.redirects_404 %}{% assign redirect_path = '/' | prepend: redirect_404 | prepend: '/' | prepend: site.baseurl %}
if( document.location.pathname.startsWith('{{ redirect_path }}') ){
  document.location = '{{ redirect_path }}404.html?' + document.location.pathname.substring({{ redirect_path | size }});
}
{% endfor %}
</script>
{% endif %}
{% include theme/minimal-mistakes/_head.html %}
</head>

<body class="{{ page.type }} {{ page.subtype | append: '-' | append: page.type }}">

{% include theme/minimal-mistakes/_browser-upgrade.html %}

{% include theme/minimal-mistakes/_navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src="{% include link.html prepend='/images/feature/' url=page.image.feature %}" alt="{{ page.image.caption }}">
  {% if page.image.caption or page.image.credit %}
    <span class="image-credit">
        {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}
        {% if page.image.caption %}{{ page.image.caption }}{% endif %}
        {% if page.image.caption and page.image.credit %}&ndash;{% endif %}
        {% if page.image.credit %}Photo Credit: {{ page.image.credit }}{% endif %}
        {% if page.image.creditlink %}</a>{% endif %}
    </span>
  {% endif %}
  </div>
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include theme/minimal-mistakes/_author-bio.html %}
  </div>
{{ content }}
</div>

<div class="footer-wrap">
{% if page.related and site.related_posts.size > 0 %}
  <div class="related-articles">
  <h4>
    You might also enjoy
{% if page.view_all %}
    <small class="pull-right">(<a href="{{ page.view_all.link | prepend: site.baseurl }}">View all<span> {{ page.view_all.title }}</span></a>)</small>
{% endif %}
  </h4>
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li>{% include theme/minimal-mistakes/post-link.html post=post %}</li>
    {% endfor %}
    </ul>
    <hr />
  </div>
{% endif %}
  <footer>
    {% include theme/minimal-mistakes/_footer.html %}
  </footer>
</div>

{% include theme/minimal-mistakes/_scripts.html %}

</body>
</html>
