---
layout: compress
---
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include theme/minimal-mistakes/_head.html %}
</head>

<body class="{{ page.layout_css_class }}">

{% include theme/minimal-mistakes/_browser-upgrade.html %}

{% include theme/minimal-mistakes/_navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src="{% include link.html prepend='/images/feature/' url=page.image.feature %}" alt="{{ page.image.caption }}">
  {% if page.image.caption or page.image.credit %}
    <span class="image-credit">
        {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}
        {% if page.image.caption %}{{ page.image.caption }}{% endif %}
        {% if page.image.caption and page.image.credit %}&ndash;{% endif %}
        {% if page.image.credit %}Photo Credit: {{ page.image.credit }}{% endif %}
		{% if page.image.creditlink %}</a>{% endif %}
    </span>
  {% endif %}
  </div>
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include theme/minimal-mistakes/_author-bio.html %}
  </div>
{{ content }}
</div>

<div class="footer-wrap">
{% if page.related and site.related_posts.size > 0 %}
  <div class="related-articles">
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/blog/">View all posts</a>)</small></h4>
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div>
{% endif %}
  <footer>
    {% include theme/minimal-mistakes/_footer.html %}
  </footer>
</div>

{% include theme/minimal-mistakes/_scripts.html %}

</body>
</html>
