---
layout: theme/minimal-mistakes/default
---

<div id="index">

  {{ content }}

{% for recent in page.recent %}
 {% if site.categories[recent.category].size > 0 %}
  <h3>
    {% if recent.feed %}
    <a class="feed" href="{{ recent.feed | prepend: site.baseurl }}">{% include theme/minimal-mistakes/icon.html id='rss' %}</a>
    {% endif %}
    <a href="{{ recent.link | prepend: site.baseurl }}">{{ recent.title }}</a>
  </h3>
  {% for post in site.categories[recent.category] limit: recent.limit %}
   {% include theme/minimal-mistakes/{{ recent.include_file }} post=post %}
  {% endfor %}
 {% endif %}
{% endfor %}

</div>
