---
layout: theme/minimal-mistakes/default
layout_css_class: home
omit_related_posts: true
---

  <div id="index">

  {{ content }}

{% if page.recent.blog > 0 and site.categories.blog.size > 0 %}
  <h3><a href="{{ site.url }}/feed/blog.xml">{% include theme/minimal-mistakes/icon.html id='rss' %}</a> Recent Blog Posts</h3>
 {% for post in site.categories.blog limit: page.recent.blog %}
  {% include theme/minimal-mistakes/listing-recent-blog.html post=post %}
 {% endfor %}
{% endif %}

{% if page.recent.quotes > 0 and site.categories.quotes.size > 0 %}
  <h3><a href="{{ site.url }}/feed/quotes.xml">{% include theme/minimal-mistakes/icon.html id='rss' %}</a> Recent Programming Quotes</h3>
 {% for post in site.categories.quotes limit: page.recent.quotes %}
  {% include theme/minimal-mistakes/listing-recent-quotes.html post=post %}
 {% endfor %}
{% endif %}

  </div>
