---
layout: theme/minimal-mistakes/default
---

{{ content }}

{% include variables/listing.liquid %}

  <div id="index">

    <h1>{{ page.title }}</h1>

{% if page.listing.navigation.top %}{% if paginator or page.paginator %}{% include theme/minimal-mistakes/paginator-navigation.html %}{% endif %}{% endif %}

{% for post in listing__elements %}
  {% include theme/minimal-mistakes/{{ page.listing.include_file }} post=post %}
{% endfor %}

{% if page.listing.navigation.bottom %}{% if paginator or page.paginator %}{% include theme/minimal-mistakes/paginator-navigation.html %}{% endif %}{% endif %}

  </div>
