---
layout: theme/minimal-mistakes/default
---

<div id="index">

  <h1>{{ page.title }}</h1>

  <div id="tag-cloud"></div>

  <div>
    {{ content }}
  </div>

{% include variables/tags.liquid %}

{% for tag in site__tags %}
 {% assign initial = tag | split: '' %}
 {% assign initial = initial[0] %}
 {% unless initial == last_initial %}
  {% assign last_initial = initial %}
  {% if last_initial %}</ul>{% endif %}

  <h3><a href="{{ initial | prepend: '/tags/' | prepend: site.baseurl }}/">Tags starting with «{{ initial | upcase }}»</a></h3>
  <ul class="tag-index">
 {% endunless %}
    <li><a href="{% include tag-link.html tag=tag %}"><i class="fa fa-tag"></i> {{ tag }}</a></li>
{% endfor %}

  </ul>

</div>
