/* Simius Ex Machina */

h2.tagname:before {
  content: "#";
}

.sidebar .social-icons .fa-bitbucket,
.sidebar .social-icons .fa-bitbucket-square {
  color: #205081;
}

.sidebar .social-icons .fa-paper-plane,
.sidebar .social-icons .fa-paper-plane-o {
  color: #54B3E6;
}
