<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="0;url={{ page.redirect }}" />
    <link rel="canonical" href="{{ page.redirect }}"/>
  </head>
  <body>
    <h1>Moved Permanently</h1>
    <p>If you are not redirected automatically, please <a href="{{ page.redirect }}">follow the link</a> to go to the new location.</p>
    <script language="javascript">location = "{{ page.redirect }}";</script>
  </body>
</html>